{% extends "base.html" %}

{% block title %}
    Edit course "{{ object.name_of_disc }}"
{% endblock %}

{% block content %}

  <div class="module">
    <h2>Дисциплина: {{object.name_of_disc}}</h2>
      <div><a href="{{url_f}}" target="_blank">{{url_f}}</a></div>
    {% if uploaded_file_url %}
    <!--<p><a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p> !-->
     <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p><input type="file" name="myfile"><p>
      <p><input type="submit" value="Save course"></p>
    </form>
  {% else %}

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <p><input type="file" name="myfile"><p>
      <p><input type="submit" value="Save course"></p>
    </form>
      <a href="{% url "rpd_assigment_list" object.slug %}"><button>Отправить файл</button></a>
      </form>

    {% endif %}
    <a href="{{url_f}}">asdasdas</a>
  </div>
{% endblock %}