{% extends "base.html" %}

{% block title %}
    Настройка дисциплины "{{ object.name_of_disc }}"
{% endblock %}

{% block content %}
  <h1>Дисциплина: {{object.name_of_disc}}</h1>
<div><a href="{{object.content}}" target="_blank">{{object.content}}</a></div>
<p>{{object.message}}</p>
  <div class="module">
    <h2>Необходимая информация:</h2>
    <form method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Сохранить"></p>
    </form>
  </div>
<a href="">{{test}}</a>
{% endblock %}